page-login {

  #forLogin
    {
      background-color: #E9EAEE;
    }


  #btnLupa
      {
        background-color: #F58634;
        margin: auto;
      }

      #buttonbar
          {
              margin: -2px;
          }

  #inpEmail
      {  width: 95%;
          background-color: #FFFFFF;
          margin: auto;
      }

  #inpSenha
      {  width: 95%;
          background-color: #FFFFFF;
          margin: auto;
      }

  #btnEntrar
    {
      background-color: #F58634;
        width: 95%;
        margin: auto;


    }

  #btnFacebook
    {   color: gray;
        margin: auto;
    }

  #btnCadastro
    {color: gray;
        margin: auto;
    }


  #btnAjuda
    {color: gray;
        margin: auto;
    }
}
